<main class="h-full grid place-items-center">
  <div class="grid grid-cols-[300px_1fr_300px] gap-10 w-[90%] m-auto">
    <div>
      <form>
        <div>
          <label
            for="especialidad"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Especialidad</label
          >
          <select
            id="especialidad"
            class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          >
            <option selected>Selecciona la especialidad</option>
            <option value="US">United States</option>
            <option value="CA">Canada</option>
            <option value="FR">France</option>
            <option value="DE">Germany</option>
          </select>
        </div>
        <div>
          <label
            for="doctor"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Doctor</label
          >
          <select
            id="doctor"
            class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          >
            <option selected>Selecciona el doctor</option>
            <option value="US">United States</option>
            <option value="CA">Canada</option>
            <option value="FR">France</option>
            <option value="DE">Germany</option>
          </select>
        </div>
        <div>
          <label
            for="turno"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Turno</label
          >
          <select
            id="turno"
            class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          >
            <option selected>Selecciona el turno</option>
            <option value="0">Turno Mañana</option>
            <option value="1">Turno Tarde</option>
          </select>
        </div>
      </form>
    </div>
    <div class="border-r-[1px] border-gray-200 px-10">
      <full-calendar
        *ngIf="calendarVisible"
        [options]="calendarOptions"
      ></full-calendar>
    </div>
    <div>
      <h1 class="text-[28px] font-normal mb-6">Eventos</h1>
      <p>Sin eventos, selecciona otro día.</p>
    </div>
  </div>
</main>
