<main class="h-full grid place-items-center">
  <div class="grid grid-cols-[300px_1fr_300px] gap-10 w-[90%] m-auto">
    <div>
      <form [formGroup]="formDoctor" (ngSubmit)="onSubmit()">
        <div>
          <label
            for="paciente"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Pacientes</label
          >
          <select
            id="especialidad"
            formControlName="patient"
            class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          >
            <option selected>Selecciona la especialidad</option>
            <option *ngFor="let item of patients" [value]="item.id">
              {{ item.nombre }}
            </option>
          </select>
        </div>
        <div>
          <label
            for="especialidad"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Especialidad</label
          >
          <select
            id="especialidad"
            formControlName="carrer"
            class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          >
            <option selected>Selecciona la especialidad</option>
            <option *ngFor="let item of carrers" [value]="item.id">
              {{ item.nombre }}
            </option>
          </select>
        </div>
        <div>
          <label
            for="doctor"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Doctor</label
          >
          <select
            id="doctor"
            formControlName="doctor"
            class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          >
            <option selected>Selecciona el doctor</option>
            <option *ngFor="let item of doctors" [value]="item.id">
              {{ item.nombre }}
            </option>
          </select>
        </div>
        <div>
          <label
            for="turno"
            class="block mb-2 text-sm font-medium text-gray-900"
            >Turno</label
          >
          <select
            id="turno"
            formControlName="turn"
            class="bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
          >
            <option selected>Selecciona el turno</option>
            <option *ngFor="let item of turns" [value]="item.id">
              {{ item.consultorio }} - {{ item.horario }}
            </option>
          </select>
        </div>
        <button
          type="submit"
          [disabled]="formDoctor.invalid"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 disabled:bg-blue-700/75 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5"
        >
          Registrar
        </button>
      </form>
    </div>
    <div class="border-r-[1px] border-gray-200 px-10">
      <full-calendar
        *ngIf="calendarVisible"
        [options]="calendarOptions"
      ></full-calendar>
    </div>
    <div>
      <h1 class="text-[28px] font-normal mb-6">Horarios</h1>

      <ul *ngIf="dates.length > 0; else noDates">
        <li
          *ngFor="let item of dates"
          class="pb-3 cursor-pointer hover:text-black hover:font-semibold"
        >
          <!-- <p class="text-sm font-medium text-gray-900 truncate dark:text-white">
                   Reservas disponibles - {{item.nroReservasDisponibles}}
                </p> -->

          <p class="text-sm text-gray-500 truncate">
            {{ item }}
          </p>
        </li>
      </ul>
      <ng-template #noDates>
        <p>Sin eventos, selecciona otro día.</p>
      </ng-template>
    </div>
  </div>
</main>
